-- Database seed file for Car Dealership
BEGIN;

-- Drop existing tables
DROP TABLE IF EXISTS service_requests CASCADE;
DROP TABLE IF EXISTS reviews CASCADE;
DROP TABLE IF EXISTS contact_messages CASCADE;
DROP TABLE IF EXISTS inventory CASCADE;
DROP TABLE IF EXISTS classifications CASCADE;
DROP TABLE IF EXISTS accounts CASCADE;

-- Drop types if they exist
DROP TYPE IF EXISTS account_type CASCADE;
DROP TYPE IF EXISTS service_status CASCADE;

-- Create valid account types enum
CREATE TYPE account_type AS ENUM ('User', 'Employee', 'Admin');
CREATE TYPE service_status AS ENUM ('Submitted', 'In Progress', 'Completed');

-- Create accounts table
CREATE TABLE accounts (
    account_id SERIAL PRIMARY KEY,
    account_firstname VARCHAR(100) NOT NULL,
    account_lastname VARCHAR(100) NOT NULL,
    account_email VARCHAR(150) UNIQUE NOT NULL,
    account_password VARCHAR(255) NOT NULL,
    account_type account_type DEFAULT 'User',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Create classifications table (categories)
CREATE TABLE classifications (
    classification_id SERIAL PRIMARY KEY,
    classification_name VARCHAR(50) UNIQUE NOT NULL
);

-- Create inventory table (vehicles)
CREATE TABLE inventory (
    inv_id SERIAL PRIMARY KEY,
    inv_make VARCHAR(50) NOT NULL,
    inv_model VARCHAR(50) NOT NULL,
    inv_year VARCHAR(4) NOT NULL,
    inv_description TEXT NOT NULL,
    inv_image VARCHAR(100) NOT NULL,
    inv_thumbnail VARCHAR(100) NOT NULL,
    inv_price NUMERIC(10, 2) NOT NULL,
    inv_miles INTEGER NOT NULL,
    is_available BOOLEAN DEFAULT true,
    classification_id INTEGER NOT NULL,
    CONSTRAINT fk_classification FOREIGN KEY (classification_id) REFERENCES classifications(classification_id) ON DELETE CASCADE
);

-- Create reviews table
CREATE TABLE reviews (
    review_id SERIAL PRIMARY KEY,
    review_text TEXT NOT NULL,
    review_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    inv_id INTEGER NOT NULL,
    account_id INTEGER NOT NULL,
    CONSTRAINT fk_review_inventory FOREIGN KEY (inv_id) REFERENCES inventory(inv_id) ON DELETE CASCADE,
    CONSTRAINT fk_review_account FOREIGN KEY (account_id) REFERENCES accounts(account_id) ON DELETE CASCADE
);

-- Create service requests table
CREATE TABLE service_requests (
    request_id SERIAL PRIMARY KEY,
    service_type VARCHAR(100) NOT NULL,
    service_status service_status DEFAULT 'Submitted',
    request_notes TEXT,
    account_id INTEGER NOT NULL,
    inv_id INTEGER, -- Optional, if it's a vehicle from inventory they bought
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_service_account FOREIGN KEY (account_id) REFERENCES accounts(account_id) ON DELETE CASCADE
);

-- Create contact messages table
CREATE TABLE contact_messages (
    message_id SERIAL PRIMARY KEY,
    sender_name VARCHAR(100) NOT NULL,
    sender_email VARCHAR(150) NOT NULL,
    message_body TEXT NOT NULL,
    is_read BOOLEAN DEFAULT false,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Insert initial classifications
INSERT INTO classifications (classification_name) VALUES
    ('Trucks'),
    ('Vans'),
    ('Cars'),
    ('SUVs');

-- Insert dummy admin account (password is 'password' hashed - you should update this with bcrypt in reality)
INSERT INTO accounts (account_firstname, account_lastname, account_email, account_password, account_type) VALUES
    ('Admin', 'User', 'admin@dealership.com', 'hashed_password_here', 'Admin');

COMMIT;
