<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Juan Zurita</h2>
        <img class="default-card" src="images/me.webp" alt="Juan Zurita" width="800px">
        <p>
            HI! My name is Juan Zurita and I am from Madrid, Spain. I have been living in Rexburg for almost 4 years and I will
             be graduating in Computer Science soon. I love learning a lot about technology and web dev. This is a list of my hobbies and interests:
    
        </p>
        <ul>
            <li>Programming</li>
            <li>Movies</li>
            <li>Traveling</li>
            <li>AI/ML</li>
        </ul>
    </main>
    <%- include('partials/footer') %>
</body>
</html>